body{
    background-color: rgb(34, 34, 34);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
#hulk-fundo{
    background-color: #86eb8a;
    color: black;
}
#capitao-body{
    background-color: #4768d3a1;
    color: black;
}
#batman-body{
    background-color: rgba(0, 0, 0, 0.534);
    color: black;
}
#aranha-body{
    background-color: rgba(110, 58, 58, 0.822);
    color: black;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
}
a{
    color: white;
}
a:hover{
    color: red;
    transition: 0.3s all;

}
.hulk-link{
    color: black;
}
.hulk-link:hover{
    color: aliceblue;
    transition: 0.3s all;
}
.capitao-link{
    color: white;
}
.capitao-link:hover{
    color: #1e07ee;
    transition: 0.3s all;
}
.batman-link{
    color: black;
}
.batman-link:hover{
    color: white;
    transition: 0.3s all;
}
.aranha-link{
    color: black;
}
.aranha-link:hover{
    color: red;
    transition: 0.3s all;
}
#inscreva-se-btn{
    border: 2px solid red;
    padding: 10px;
    border-radius: 15px;
}
#inscreva-se-btn:hover{
    background-color: red;
    color: white;
}
#inscreva-se-btn-hulk{
    border: 2px solid green;
    padding: 10px;
    border-radius: 15px;
}
#inscreva-se-btn-hulk:hover{
    background-color: green;
    color: white;
}
#inscreva-se-btn-capitao{
    border: 2px solid rgb(0, 9, 128);
    padding: 10px;
    border-radius: 15px;
}
#inscreva-se-btn-capitao:hover{
    background-color:#1e07ee;
    color: white;
}
#inscreva-se-btn-batman{
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
}
#inscreva-se-btn-batman:hover{
    background-color: black;
    color: white;
}
#inscreva-se-btn-aranha{
    color: black;
    border: 2px solid red;
    padding: 10px;
    border-radius: 15px;
}
#inscreva-se-btn-aranha:hover{
    background-color: red;
    color: white;
}
h1{
    font-weight: 200;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}
h2{
    font-size: 56px;
    line-height: 10px;
    
}
spam{
    color: red;
    
}
#hulk-spam{
    color:#02db05;
    font-size: 56px;
    line-height: 10px;
   
   
}
#capitao-spam{
    color:#1e07ee;
}
#batman-spam{
    color:black;
}
p{
    line-height: 20px;
    max-width: 500px;
    padding-top: 30px;  
}
img{
    width: 600px;
    padding-left: 80px;
}
#hulk-img{
    width: 500px;
    padding-left: 280px;
}
#capitao-img{
    width: 350px;
    padding-left: 250px;
}
#batman-img{
    width: 600px;
    padding-left: 120px;
}
#aranha-img{
    width: 450px;
    padding-left: 120px;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: red;
    color: white;
    font-weight: bold;
}
form [type="submit"]{
    cursor: pointer;
}
#hulk-input{
    background-color: #02db05;
}
#capitao-input{
    background-color:#1e07ee;
}
#batman-input{
    background-color:black;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
